h2 {
    margin-top: 1em;
}
.field-body {
    flex-grow: 1;
}
.navbar {
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: #f1f1f1;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.top-right {
    top: 0.5rem;
    right: 0.5rem;
}