<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://vicmans.com">
      <img src="assets/v.png" width="28" height="28" alt="logo"> Victor
    </a>
  </div>
  <a class="button is-light" href="https://github.com/vicmans/ng-toggle-button">
    <strong>GitHub</strong>
  </a>
</nav>

<div class="container" style="text-align:center">
  <section class="section">
  <h1 class="title">{{title}}</h1>
  <h2 class="subtitle">Examples:</h2>
  <div class="columns">
    <div class="column is-half">
      <h3>Default</h3>
      <ng-toggle></ng-toggle>
      
      <h2 class="subtitle">
        Custom
      </h2>
      <ng-toggle
        [(ngModel)]="prueba"
        [labels]="{checked: 'Encendido', unchecked: 'Apagado'}"
        [color]="{checked: '#007a66', unchecked: '#ddd', disabled: '#bfbfbf'}"
        [width]="90"
      ></ng-toggle>
      <p class="is-family-code">ngModel: {{prueba}}</p>
      
      <h2 class="subtitle">
        Disabled
      </h2>
        <ng-toggle
          [value]="false"
          [disabled]="true"
          [color]="{checked: '#00FF00', unchecked: 'red', disabled: '#ddd'}"
          [labels]="{checked: 'si', unchecked: 'no'}"
        ></ng-toggle>
      <ng-toggle
        [value]="false"
        [disabled]="true"
        [color]="{checked: '#00FF00', unchecked: 'red', disabled: '#eee'}"
        [switchColor]="{disabled: '#ddd', checked: '#000', unchecked: '#000'}"
        [fontColor]="{ checked: '#fff', unchecked :'#fff', disabled: '#aaa'}"
        [labels]="{checked: 'si', unchecked: 'no'}"
      ></ng-toggle>

      <h2 class="subtitle">
        In a formGroup
      </h2>

      <form [formGroup]="myForm">
        <ng-toggle
          formControlName="show"
          color="#aa331f"
          width="55"
          speed="100"
          [labels]="{checked: 'yes', unchecked: 'no'}"
        ></ng-toggle>
        Active
        <br>
        Touched: {{showControl?.touched}} <br>
        Touched: {{showControl?.untouched}} <br>
        Dirty: {{showControl?.dirty}} <br>
        valid: {{showControl?.valid}} <br>
        invalid: {{showControl?.invalid}} <br>
        pristine: {{showControl?.pristine}} <br>
      </form>
    </div>
    <div class="column is-half">
      <h2 class="subtitle">Large</h2>
      <ng-toggle
        color="#aa331f"
        width="100"
        height="50"
        fontSize="20"
        speed="1500"
        [margin]="2"
        [labels]="{checked: 'ok', unchecked: 'no'}"
      ></ng-toggle>

      <h2 class="subtitle">
        Another style
      </h2>
      <ng-toggle
        [value]="false"
        width="40"
        height="10"
        [margin]="-3"
        [switchColor]="{checked: '#00a388', unchecked: '#BFCBD9'}"
      ></ng-toggle>
      <br>
      <h2 class="subtitle">
        Custom values
      </h2>
      <ng-toggle
        [(ngModel)]="custom"
        [labels]="{checked: 'yes', unchecked: 'no'}"
        [values]="{checked: 'si', unchecked: 'no'}"
        [width]="55"
      ></ng-toggle>
      <p class="is-family-code">ngModel: {{custom}}</p>
      <h2 class="subtitle">
        Two-way binding value
      </h2>
      <ng-toggle
        [(value)]="twoWay"
      ></ng-toggle>
      <p class="is-family-code">value: {{twoWay}}</p>
      </div>
  </div>
  <h2 class="subtitle">
    Configure <br>
    <small>Build your own</small>
  </h2>
  <div class="columns"> 
    <div class="column is-half">
      <ng-toggle
        [(ngModel)]="config.value"
        [disabled]="config.disabled"
        [width]="config.width"
        [height]="config.height"
        [margin]="config.margin"
        [labels]="config.labels"
        [color]="config.color"
        [switchColor]="config.switchColor"
        [fontColor]="config.fontColor"
        [fontSize]="config.fontSize"
        [values]="config.values"
        [textAlign]="config.textAlign"
        (change)="changeEvent()"
      ></ng-toggle>
      <br>
      <div class="relative">
        <ng-toggle class="absolute top-right"
          [width]="100"
          [(ngModel)]="result"
          [values]="{checked: 'component', unchecked: 'config'}"
          [color]="{checked: '#007a66', unchecked: '#007a66', disabled: '#eee'}"
          [labels]="{checked: 'Component', unchecked: 'Config'}"
        ></ng-toggle>
        <pre style="text-align: left; margin-top: 15px;" *ngIf="result=='component'">
&lt;ng-toggle
  [value]="{{config.value}}"
  [disabled]="{{config.disabled}}"
  [width]="{{config.width}}"
  [height]="{{config.height}}"
  [margin]="{{config.margin}}"
  [fontSize]="{{config.fontSize}}"
  [labels]="{{config.labels|json}}"
  [color]="{{config.color|json}}"
  [switchColor]="{{config.switchColor|json}}"
  [values]="{{config.values|json}}"
  [textAlign]="{{config.textAlign|json}}"
  [fontColor]="{{config.fontColor|json}}">
&lt;/ng-toggle>
        </pre>
        <pre style="text-align: left; margin-top: 15px;" *ngIf="result=='config'">{{config | json}}</pre>
      </div>

    </div>
    <div class="column is-half">
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label" for="disabled">disabled: </label>
        </div>
        <div class="field-body">
          <div class="control">
            <ng-toggle
              [(ngModel)]="config.disabled"
              [values]="{checked: true, unchecked: false}"
              aria-label="disabled"
            ></ng-toggle>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label" for="disabled">value: </label>
        </div>
        <div class="field-body">
          <div class="control">
            <ng-toggle
              [(value)]="config.value"
              [values]="{
                checked: config.values.checked,
                unchecked: config.values.unchecked
              }"
              [labels]="{
                checked: config.values.checked,
                unchecked: config.values.unchecked
              }"
              width="80"
            ></ng-toggle> {{config.value}}
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label" for="disabled">width: </label>
        </div>
        <div class="field-body">
          <div class="control">
            <input class="input" type="number" id="width" [(ngModel)]="config.width" aria-label="width">
          </div>
        </div>
      </div>
      
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label" for="disabled">height: </label>
        </div>
        <div class="field-body">
          <div class="control">
            <input class="input" type="number" id="height" [(ngModel)]="config.height" aria-label="height">
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label" for="disabled">margin: </label>
        </div>
        <div class="field-body">
          <div class="control">
            <input class="input" type="number" id="margin" [(ngModel)]="config.margin" aria-label="margin">
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">fontSize: </label>
        </div>
        <div class="field-body">
          <div class="control">
            <input class="input" type="number" [(ngModel)]="config.fontSize" aria-label="fontSize">
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">checked label: </label>
        </div>
        <div class="field-body">
          <div class="control">
            <input class="input" type="text" [(ngModel)]="config.labels.checked" aria-label="label checked">
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label" for="disabled">unchecked label: </label>
        </div>
        <div class="field-body">
          <div class="control">
            <input class="input" type="text" [(ngModel)]="config.labels.unchecked" aria-label="label unchecked">
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">checked value: </label>
        </div>
        <div class="field-body">
          <div class="control">
            <input class="input" type="text" [(ngModel)]="config.values.checked" aria-label="value checked">
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">unchecked value: </label>
        </div>
        <div class="field-body">
          <div class="control">
            <input class="input" type="text" [(ngModel)]="config.values.unchecked" aria-label="value unchecked">
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">checked alignment: </label>
        </div>
        <div class="field-body">
          <div class="select">
            <select [(ngModel)]="config.textAlign.checked">
              <option>left</option>
              <option>center</option>
              <option>right</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">unchecked alignment: </label>
        </div>
        <div class="field-body">
          <div class="select">
            <select [(ngModel)]="config.textAlign.unchecked">
              <option>left</option>
              <option>center</option>
              <option>right</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">checked color: </label>
        </div>
        <div class="field-body">
          <div class="control">
            <input type="color" [(ngModel)]="config.color.checked" aria-label="color checked">
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">unchecked color: </label>
        </div>
        <div class="field-body">
          <div class="control">
            <input type="color" [(ngModel)]="config.color.unchecked" aria-label="color unchecked">
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">disabled color: </label>
        </div>
        <div class="field-body">
          <div class="control">
            <input type="color" [(ngModel)]="config.color.disabled" aria-label="color disabled">
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">checked switchColor: </label>
        </div>
        <div class="field-body">
          <div class="control">
            <input type="color" [(ngModel)]="config.switchColor.checked" aria-label="switchColor checked">
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">unchecked switchColor: </label>
        </div>
        <div class="field-body">
          <div class="control">
            <input type="color" [(ngModel)]="config.switchColor.unchecked" aria-label="switchColor unchecked">
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">disabled switchColor: </label>
        </div>
        <div class="field-body">
          <div class="control">
            <input type="color" [(ngModel)]="config.switchColor.disabled" aria-label="color disabled">
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">checked fontColor: </label>
        </div>
        <div class="field-body">
          <div class="control">
            <input type="color" [(ngModel)]="config.fontColor.checked" aria-label="fontColor checked">
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">unchecked fontColor: </label>
        </div>
        <div class="field-body">
          <div class="control">
            <input type="color" [(ngModel)]="config.fontColor.unchecked" aria-label="fontColor unchecked">
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">disabled fontColor: </label>
        </div>
        <div class="field-body">
          <div class="control">
            <input type="color" [(ngModel)]="config.fontColor.disabled" aria-label="fontColor disabled">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
</div>
<footer class="footer has-text-centered">
  &copy; made with ❤️ by me
</footer>
